body{
    margin-top: 100px;
    background-color: #FAF9FE;
    font-family: Roboto;
    color: #16072F;
    font-size: larger;
}
.container{
    display: grid;
    grid-template-columns:  auto auto auto auto;
}
.title{
    text-align: center;
    margin-bottom: 40px;
}
.headers{
    color: #16072F;
}
.item{
    text-align: center;
    background-color: #FFFFFF;
    margin: 16px;
    padding: 35px;
    border-radius: 60px;
}
.features{
    background: linear-gradient(to right, #F7A745 ,#DF2A85,#7528CA);
    display:inline;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.span-down{
    margin-top: 65px;
}
.span-up{
    margin-bottom: 65px;
}
.text{
    color: #848189;
}