body{
    font-family: Roboto;
}
.head{
    text-align: center;
}
.sec-title{
    color: #BCBCBC;
}
.title{
    font-size: xx-large;
}
.container{
    
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left:  12% ;
    margin-right: 12% ;
}
.item{
    padding: 2%;
    padding-top: 5%;
    text-align: center;
    background-color: #424761 ;
    margin: 10px;
}
.paragrapgh{
    color: #bcbdc1;
    margin-bottom: 5%;
    margin-top: 5%;
}
.name{
    color: aliceblue;
    font-size: larger;
}
.city{
    margin: 6px;
    color: #bcbdc1
}
.first::after{
    content: ",,";
    border-radius: 100%;
    border: #bcbdc1 solid 1px;
    position: absolute;
    background-color: #FFFFFF;
    width: 5%;
    height: 11%;
    font-size: 63px;
    text-align: center;
    left: 40%;
    top: 52%;
    color: #E20C0C;
}
.second::after{
    content: ",,";
    border: #bcbdc1 solid 1px;
    border-radius: 100%;
    position: absolute;
    background-color: #FFFFFF;
    width: 5%;
    height: 11%;
    font-size: 63px;
    text-align: center;
    left: 78%;
    top: 52%;
    color: #E20C0C;
}
.first::before{
    content: url(file:///C:/Users/Redcon/Desktop/depi/task1/solution/6/assets/imgs/Screenshot%202024-07-26%20102746.png);
    border: #000000 solid 1px;
    border-radius: 100%;
    position: absolute;
    background-color: #FFFFFF;
    width: 5%;
    height: 10.8%;
    /* font-size: 63px; */
    text-align: center;
    left: 66.3%;
    top: 18%;
}
.second::before{
    content: url(file:///C:/Users/Redcon/Desktop/depi/task1/solution/6/assets/imgs/Screenshot%202024-07-26%20102802.png);
    border: #000000 solid 1px;
    border-radius: 100%;
    position: absolute;
    background-color: #FFFFFF;
    width: 5%;
    height: 10.8%;
    /* font-size: 63px; */
    text-align: center;
    right: 66.5%;
    top: 18%;
}
